<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppping Cart</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header"></div>
        <div class="body" align="center">
            <div align="center">
                <a><h1 class="blackLink" align="center" th:text="${pageTitle}"></h1> </a>

                <button th:text="${itemCategory1}"></button></a>
                <button th:text="${itemCategory2}"></button></a>
                <button th:text="${itemCategory3}"></button></a>
                <br><br>
            </div>
            <div th:replace="fragments/item"></div>
        </div>

<!--            <div class="row" align="center">-->
<!--                <div th:replace="fragments/item"></div>-->
<!--                <div th:replace="fragments/item"></div>-->
<!--            </div>-->
<!--            <div class="row" align="center">-->
<!--                <div th:replace="fragments/item"></div>-->
<!--                <div th:replace="fragments/item"></div>-->
<!--            </div>-->
<!--            <div class="row" align="center">-->
<!--                <div th:replace="fragments/item"></div>-->
<!--                <div th:replace="fragments/item"></div>-->
<!--            </div>-->


<!--        <span>-->
<!--<img src="css/custom.cssblackShirt.png" alt="Black Gucci Shirt" width="230" height="172">-->
<!--</span>-->
<!--        <span>-->
<!--<img src="whiteShirt.png" alt="White Gucci Shirt" width="230" height="172">-->
<!--</span>-->
<!--        <span>-->
<!--<img src="funPrint.png" alt="Fun Gucci Shirt" width="230" height="172">-->
<!--</span>-->
<!--        <span>-->
<!--<img src="whiteHeals.png" alt="White Gucci Heals" width="230" height="172">-->
<!--</span>-->
    </div>
    </body>
</html>

