<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GUCCl Official Site | Explore the World of FreshThreads - </title>
</head>
<body>
<div class="container">
<div th:replace="fragments/header"></div>

<br><br><br>

    <img src="img/fresh.jpg" class="figure-img img-fluid rounded" alt="FreshThead">
    <div style="text-align: center">
        <p> PRE FALL 2019 </p>
        <h1> TOWARDS SUMMER  </h1>
        <a href="/men"><button> SHOP MEN </button></a>
        <a href="/women"><button> SHOP WOMEN </button></a>
    </div>

    <div th:replace="fragments/footer"></div>
</div>

</body>
</html>
