<div class="col-md-4" style="border-left: 3px solid #0f0f0f">
    <h3>Your cart</h3>
    <h3>$87.50</h3>
    <div class="cart-item">
        <h4>Addidas crewneck</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img width="100" src="http://3.bp.blogspot.com/-c_xcQb-uG44/VazuWruXvGI/AAAAAAAAB-I/MojGhTH4CvQ/s1600/AB9577_01_laydown.jpg"/>
            </div>
            <div class="col-md-4 mb-3" style="text-align: right;">
                <p>QTY: 1</p>
                <p>$75.00</p>
            </div>
        </div>
    </div>
    <div class="price-section">
        <div style="border-bottom: 1px solid #3f3f3f">
            <div class="row">
                <div class="col-md-6" style="text-align: left">Addidas crewneck</div>
                <div class="col-md-4" style="text-align: right">$75.00</div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: left">Tax - 10%</div>
                <div class="col-md-4" style="text-align: right">$7.50</div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: left">Shipping</div>
                <div class="col-md-4" style="text-align: right">$5.00</div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6" style="text-align: left">subtotal</div><div class="col-md-4" style="text-align: right">$87.50</div>
            </div>
        </div>
    </div>

</div>