<div class="header">
    <nav class="navbar navbar-expand-lg" style="border-bottom: 3px solid #0f0f0f">
        <a class="navbar-brand" href="/"> <h1 class="blackLink" align="center">FreshThreads</h1> </a>

        <div class="container">
            <ul class="ulistNav" style="padding-top: 16px">
                <li class="listNav"><a href="/men"><button class="btn btn-info">MEN  </button></a></li>
                <li class="listNav"><a href="/women"><button class="btn btn-info">WOMEN</button></a></li>
                <li class="listNav"><a href="/accessories"><button class="btn btn-info">ACCESSORIES</button></a></li>
                <li class="listNav"><a href="/sale"> <button class="btn btn-info">SALES</button></a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/checkout" style="padding-right: 10px"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Checkout</button></a>
            <a href="/login" style="padding-right: 10px"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>
            <a href="/sign-up"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button></a>
        </div>
    </nav>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">

</div>
