 <div class="store-item col-md-6" th:each="item : ${items}">
        <h4 th:text="${item.getName()}"></h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img width="250" th:src="${item.getImagePath()}"/>
            </div>
            <div class="col-md-4 mb-3" style="text-align: right;">
                <p th:text="${item.getPrice()}"></p>
                <select name="size">
                    <option value="XXL">XXL</option>
                    <option value="XL">XL</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="S">S</option>
                    <option value="XS">XS</option>
                </select>
                <button type="button">ADD TO CART</button>
            </div>
        </div>
 </div>
