<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Failed to login</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="/fragments/header"></div>
            <div style="text-align: center; padding-top: 50px">
                <h1 class="display-1">Login Failed</h1>
                <h1 style="padding-top: 50px"><a href="/login"> Try Again </a></h1>
            </div>
        </div>
    </body>
</html>
