<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Checkout | FreshThreads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header"></div>
    <div class="body">
        <div style="padding-bottom: 20px">
            <h2><em>You're this close to flexing on everybody.</em></h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Check out form</h3>
                <form action="#" th:action="@{/checkout}" name="transaction" method="post" class="needs-validation">
                    <input type="hidden" name="items" th:value="${items}">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 3px solid #0f0f0f; padding-bottom: 20px;">
                        <div class="col-md-2 mb-3">
                            <label for="cc-month">Mo</label>
                            <input type="text" class="form-control" id="cc-month" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Month needed
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="cc-year">Yr</label>
                            <input type="text" class="form-control" id="cc-year" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Year needed
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="cc-zip">Billing Zip</label>
                            <input type="text" class="form-control" id="cc-zip" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid credit card number is required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-ccv">CCV</label>
                            <input type="text" class="form-control" id="cc-ccv" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid credit card number is required
                            </div>
                        </div>
                    </div>
                    <h3 style="padding-top: 20px;">Shipping Info</h3>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                First name is required.
                            </div>
                        </div>
                        <div class="col-md-7 mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Email is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="ship-street">Street Address</label>
                            <input type="text" class="form-control" id="ship-street" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Street address is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ship-city">City</label>
                            <input type="text" class="form-control" id="ship-city" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                City is required.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="ship-state">State</label>
                            <input type="text" class="form-control" id="ship-state" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                State is required.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="ship-zip">Zip</label>
                            <input type="text" class="form-control" id="ship-zip" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Zip code is required.
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom: 20px">
                        <button style="background-color: #0f0f0f; border: #0f0f0f;" class="btn btn-primary btn-lg btn-block" type="submit">Submit.</button>
                    </div>
                </form>

            </div>
            <!-- Put fragment here -->
            <div class="col-md-4" style="border-left: 3px solid #0f0f0f">
                <h3>Your cart</h3>
                <h3 th:text="${subtotal}"></h3>
                <div th:replace="fragments/cart-item"></div>
                    <div>
                        <div class="row">
                            <div class="col-md-6" style="text-align: left">subtotal</div><div class="col-md-4" style="text-align: right">$<span th:text="${subtotal}"></span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
